<!DOCTYPE html>
<html lang="en">
<head>
  <title>Books API</title>
</head>
<body>
  <header>
    <h2><%= book.title %> Details</h2>
  </header>
  <main>
    <section class="books">
      <%- include('./detail', { show: true }) %>
 
    </section>
  </main>
  <footer>
  </footer>

</body>
</html>